@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #550000;
    --primary-color: #c01010;
    --secondary-color: #b44646;
    --secondar-color: #f1c1c1;
    --font: “Nunito Sans”, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-h ul{
    width: 100%;
    height: 80px;
    background-color: var(--bg-color);
    font-family: var(--font);
    position: fixed;
    padding: 0 32%;
  
    
}

.menu-h ul li{
    display: inline;
    width:200px;
    float: center;  
}

.menu-h ul li a{
    color: var(--secondar-color);
    padding: 40px;
    display: inline-block;
    text-decoration: none;
    transition: background ,4s; 
    text-align: center; 
}

.menu-h ul li a:hover{
    background-color: var(--secondary-color);   
}


/*container*/
.imagem{
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 40px 4%;
    color: #490000;

    background-position: center;
    background-size: cover;/*significa que a imagem de fundo sempre se ajustará a toda a div*/
    background-repeat: no-repeat;/**/
    background-attachment: fixed;/**/
}

.secundario__imagem {
    width: 100px;
    height: 50px;
    padding: 0 24px;
    transition: .4s all ease-in-out;
}

.texto:hover img{
    transform: scale(1.8);
}

.texto{
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 40px 4%;
    font-family: roboto;
    font-size: 24px;
    color: #490000;
}
.texto__principal{/**/
    width: 100%;/*largura*/
    height: 100px;/*altura*/
    text-align: center;/*alinhamento do texto*/
    padding: 60px 4%;/*espaçamento interno*/
    font-family: roboto;/*tipo da fonte*/
    font-size: 24px;/*tamanho da fonte*/
    color: #490000;/*cor da fonte*/
}
h1{
    margin-bottom: 20px;/* define a margin area na parte inferior de um elemento*/

}

section:nth-of-type(2){/*pseudo-classe CSS selecionam itens de um grupo de elementos HTML*/
    background-image: url("download\ \(8\).jfif");/*imagem de fundo*/
}
section:nth-of-type(4){
    background-image: url("download\ \(8\).jfif");
}
section:nth-of-type(6){
    background-image: url("download\ \(8\).jfif");
}



/*para colocar o efeito na borda*/
.caixa {
    margin: auto;
     position: relative;
     width: 50px;
     height: 20px;
     color: #490000;
     background: var(--secondar-color);
     display: flex;
    justify-content: center;
     align-items: center;
     border-radius: 3px;
     font-weight: 700;
 }
 
 .caixa::before, .caixa::after {
     content: '';
     position: absolute;
     z-index: -1;
     width: calc(100% + 5px);
     height: calc(100% + 5px);
     background: linear-gradient(45deg, #800000, #8b0000, #b22020, 
     #9f8383, #d14848, #b22020, #8b0000, #800000);
     background-size: 300%;
     background-repeat: no-repeat;
     background-position: 100%;
     border-radius: 10px;
     animation: AnimarBorda 4s linear infinite;
     
 }
 
 @keyframes AnimarBorda {
     0% {
         background-position: 0;
     }
     100% {
         background-position: 300%;
     }
 }
 .caixa::after {
     filter: blur(5px);
 }
 
 .caixa {
     margin: auto;
      position: relative;
      width: 50px;
      height: 20px;
      color: #490000;
      background: #fff;
      display: flex;
     justify-content: center;
      align-items: center;
      border-radius: 3px;
      font-weight: 700;
  }
  
  .caixa::before, .caixa::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: calc(100% + 5px);
      height: calc(100% + 5px);
      background: linear-gradient(45deg, #128686, #8d1313, #646364, 
      #839a9f, #d7d8d8, #881111, #939292, #b91bb9);
      background-size: 300%;
      background-repeat: no-repeat;
      background-position: 100%;
      border-radius: 10px;
      animation: AnimarBorda 4s linear infinite;
      
  }
  
  @keyframes AnimarBorda {
      0% {
          background-position: 0;
      }
      100% {
          background-position: 300%;
      }
  }
  .caixa::after {
      filter: blur(5px);
  }
  
  